body {
  font-family: "jost", sans-serif;
}

footer {
  background-color: #010632;
  font-weight: 400;
  color: #ffffff;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__title {
  display: flex;
  justify-content: center;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  color: #ffffff;
  height: auto;
}

.title_blue {
  color: #0075ff;
}

.title_yellow {
  color: #ffb800;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 40px;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.copyright {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-top: 10px;  
  padding-bottom: 30px;  
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  gap: 25px;
  margin-left: auto; 
  position: absolute;
  right: 240px;
  top: 170px;
}

.footer__social {
  width: 54px;
  height: 54px;
  background-color: #FFC700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer__icon {
  width: 30px;
  height: 30px;
  fill: #000000;
}

.footer__social:hover {
  background-color: #fff200;
  transition: background-color 0.3s ease;  
}
