header {
    background-color: #010632;
    color: white;
  height: 65px;
  margin: 0;
  padding: 0;
}
.header__ul {
    display: flex;
    height: 65px;
    align-items: center;
    margin-left: 80px;
}
.header__li {
    margin-right: 90px;
    margin-left: 70px;
    font-size:  24px ;
     font-family: "Jost", sans-serif;
}
.blue {
    color: #0075FF;
}
.yellow {
    color: #FFC700;
}
.ua {
    font-size: 48px;
     font-weight: bold;
      font-family: "Roboto", sans-serif;
}