.hero__h1 {
  font-size: 64px;
  font-family: "Jost", sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}
.hero {
  background-image: url(../../imgs/desktop/bg-hero@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
